@import "reset.css";

@import "main.css";

#block1 { 
    grid-template:  "header" 5rem 
                    "content" 32rem
                    "buttons" 10rem;

    grid-area: block1;
    background-color: rgb(247,162,151);
    background: linear-gradient(153deg, rgba(247,162,151,1) 0%, rgb(231, 146, 134) 20%, rgb(221, 95, 95) 83%);

    padding: 2rem;

    min-width: 38rem;
}

#block1 h1 { grid-area: header; font-size: 3rem; font-weight: bolder; margin-bottom: 1rem; }
#block1 h2 { font-size: 2.5rem; font-weight: 400; }

#block1 img { width: 20rem; border: solid .1rem; margin-bottom: 2rem;}

#block1 #content { grid-area: content; max-width: 580px; }

#block1 p { font-size: 2rem; max-width: 45rem; padding: 1rem;}

em { font-size: 1.1em; font-weight: bold;}

#block1 ul { font-size: 1.5rem; margin-left: 4rem; }
#block1 li { padding: .5rem;}


.bullet-points { list-style:circle; }
.nested > li:before { content: "└─"; }
.no-points { list-style: none; }

.styled-link { color: rgb(165, 105, 78); text-decoration: underline; }

nav#buttons { grid-area: buttons;}

#block1 a#nextpage-button, a#prevpage-button { font-size: 8rem; font-weight: bolder; }

#block1 a#nextpage-button:hover, a#prevpage-button:hover { color: white; }