/* GOOGLE FONTS
font-family: 'Courier Prime', monospace;
font-family: 'Karla', sans-serif;
font-family: 'Merriweather', serif;
 */

 /* General classes and styles */

.container-grid { display: grid; }

.flexbox { display: flex; }
.inline-flex { display: inline-flex;}

.flexVert { display: flex; flex-direction: column; }

body {
    background-color: rgb(28, 23, 32);
    
    min-height: 0;
    max-height: 89%;

    min-width: 320px;

    font-family: 'Karla', sans-serif;
    overflow: hidden;
}

main {
    gap: 1.5rem;

    margin: 1rem;

    min-height: 40rem;
    max-height: 50rem;
}

main .hover-block:hover { filter: brightness(105%) blur(0px); }

#block1 {
    grid-area: block1;
    background: rgb(209,68,68);
    background: linear-gradient(128deg, rgba(209,68,68,1) 0%, rgba(249,115,101,1) 49%, rgba(247,166,122,1) 100%);
}

#block2 {
    justify-content: center;
    align-items: center;

    grid-area: block2;

    background-color: rgb(192, 195, 210);

    border: solid .7rem rgb(211, 213, 230);
}

#block3 {
    grid-area: block3;
    background-color: rgb(130, 130, 255);
}

#block4 {
    grid-area: block4;
    background-color: rgb(119, 119, 247);

    background: linear-gradient(90deg, rgba(130,130,255,1) 0%, rgba(119,119,247,.7) 50%, rgba(139,0,255,0) 100%);
    
    min-height: 14rem;
}

#block5 {
    grid-area: block5;

    border-left: solid 1rem rgb(155, 208, 247);
    border-top: solid 1rem rgb(86, 170, 230);
    border-right: solid 1rem rgb(86, 170, 230);

    margin: 0 0 0 0;
    
    min-width: 5rem;
    min-height: 14rem;
}

#block6 {
    grid-area: block6;
    

    border-right: solid 1rem rgb(54, 120, 212);
    border-bottom: solid 1rem rgb(59, 97, 150);

    gap: 1rem;
    min-height: 12rem;
}

input[type="submit"]:hover, button:hover { filter: brightness(95%); }

@media only screen and (max-height: 970px) { body { overflow-y:auto; } }
@media only screen and (max-width: 600px) { body { overflow-x:auto; } }

@media only screen and (min-width: 769px) {
    /* Main page collage design */

    main {
        grid-template:  "block1 block1 block1 block2" 1fr
                        "block1 block1 block1 block3" 2fr
                        "block1 block1 block1 block3" 2fr;
    }

    #block2 { padding: 1rem 4rem 2rem 4rem; }

    #block3 {
        grid-template:  "block4 block4 block5" 4fr
                        "block4 block4 block6" 2fr
                        "block4 block4 block6" 2fr;
        gap: 1rem;
    
        min-height: 28.7rem;
        min-width: 25rem;
    }
}

@media only screen and (max-width: 768px) {
    /* Main page collage design */

    main {
        max-height: 20rem;
        grid-template:  "block1 block1" 3fr
                        "block3 block2" auto;
    }

    #block2, #block3 { height: 10rem; min-width: 0; margin-bottom: 1rem;}
    #block4, #block5, #block6 { visibility: hidden; }
}