#topbar {
    
    justify-content: space-between;
    align-items: center;
    flex: 1 1 1;

    position: fixed;

    width: 100%;

    min-width: 320px;

    color: white;
    background-color: rgb(60, 59, 70);
    background: linear-gradient(180deg, rgba(60,59,70,1) 0%, rgba(60,59,70,1) 95%, rgba(60,59,70,0) 100%);
}

#topbar nav {
    font-weight: bold;
}

.topbar-overlay {
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;

    background-color: rgba(60,59,70,1);
    background: linear-gradient(90deg, rgba(60,59,70,1) 0%, rgba(60,59,70,1) 70%, rgba(60,59,70,0) 100%);
}

/* for aligning main contents below the topbar when scrolled at the top of the page */
#topbar-underlay { width: 100%; }

#topbar-logo img { max-height: 4.5rem; }

#topbar-logo img:hover { filter: brightness(80%); }

#login-button,#logout-button { 
    position: fixed;
    right: 0; 
    top: 1.7rem; 

    height: 2.7rem;
    background-color: rgba(60,59,70,1); 
    background: linear-gradient(270deg, rgba(60,59,70,1) 0%, rgba(60,59,70,1) 70%, rgba(60,59,70,0) 100%);

}

#link-njabumacfoy {
    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
    font-weight: 300;

    color: gainsboro;
}

#link-login,#link-logout { 
    padding: .5rem 1rem .5rem 1rem;

    background-color: rgb(44, 44, 48);
    
    border: solid .2rem white; 

    font-family: 'Courier Prime', monospace;
}

#link-login:hover, #link-logout:hover { filter: brightness(80%); }

#link-njabumacfoy:hover {
    font-style: italic;
    text-decoration: underline;
}

nav a:hover { color: rgb(49, 48, 54); }

.outer {
    display: flex;
    justify-content: center;

    width:100%;
    padding: .5rem 0 1rem 0;

    
}

.inner {
    display: flex;
    justify-content: space-around;

    padding: 1rem;
    
    text-align: center;
}

@media only screen and (min-width: 1121px) {
    #topbar-underlay { height: 5.5rem; }

    .inner { gap: 2rem; }
}

@media only screen and (max-width: 1120px) {
    #topbar-underlay { height: 12rem; }
    
    #link-njabumacfoy { order: 1; }

    .inner { flex-direction: column; }
}

@media only screen and (max-width: 768px) {
    #topbar-logo { position: fixed; right: .5rem; top:.5rem; }
    #login-button, #logout-button { right:-1.5rem; top: 6.5rem; background: none; }
    .inner { align-items: flex-start; }
    .outer { justify-content: start;}
}