@import "reset.css";

@import "main.css";
@import "topbar.css";

main#about-page { 
    grid-template:  "block-empty block-empty block2" 1fr
                    "block-empty block-empty block3" 2fr
                    "block-empty block-empty block3" 2fr;

    margin: 1rem;

    min-height: 40rem;
    max-height: 100rem;
}

#block-empty { 
    grid-area: block-empty;
    background-color: rgb(247,162,151);
    background: linear-gradient(153deg, rgba(247,162,151,1) 0%, rgb(231, 146, 134) 20%, rgb(221, 95, 95) 83%);

    padding: 2rem;

    min-width: 38rem;
}

#block-empty h1 { grid-area: header; font-size: 3rem; font-weight: bolder; margin-bottom: 1rem; }
#block-empty h2 { font-size: 2.5rem; font-weight: 400; }

#block-empty img { width: 20rem; border: solid .1rem; margin-bottom: 2rem;}

#block-empty #content { 
    grid-area: content; 

    background-color : rgb(138, 47, 47);
    background: linear-gradient(153deg, rgb(219, 136, 136) 0%, rgb(187, 85, 71) 20%, rgb(138, 47, 47) 83%);
    max-width: 100%;
    min-height: 30rem; 
    max-height:40rem; 
    overflow-y:scroll; 
    overflow-x:hidden; 
}

em { font-size: 1.1em; font-weight: bold;}

#block-empty ul { font-size: 1.5rem; margin-left: 4rem; }
#block-empty li { padding: .5rem;}

.blogpostContainer {
    background-color : rgb(138, 47, 47);
    color: white;

    margin: 2rem;
    padding: 1rem;

    overflow-y:auto; 
    overflow-x:hidden; 

    min-height: 0;

    border: dashed .2rem white;
}

.postBody {
    font-size: 1rem;
    padding: 1rem;

    white-space: pre-wrap;
}

.blogpostTitleContainer {
    justify-content: space-around;
    font-size: 100%;

    align-items: flex-start;
    
    padding: 1rem;

    gap: 2rem;
}
.blogTitle {
    width:100%;


    font-size: 200%;
    text-align: center;
    font-weight: bold;

    align-self: flex-start;
}
.blogUsername {
    width: 100%;
}
.blogTimestamp {
    width:100%;
    text-align: right;
}

#addpostLink {
    background: none;

    font-size: 4rem;
    font-weight: bolder;
    color: white;
    

    text-align: center;
    margin-top: 2rem;
    margin-left: 47.5%;
    margin-right: 52.5%;
}

#block2 {
    justify-content: center;
    align-items: center;

    grid-area: block2;

    background-color: rgb(192, 195, 210);

    padding: 1rem 4rem 2rem 4rem;

    border: solid .7rem rgb(211, 213, 230);
}

#block3 {
    gap: 1rem;

    grid-area: block3;
    background-color: rgb(130, 130, 255);

    padding: 1rem;

    min-height: 28.7rem;
    min-width: 25rem;
}