@import "reset.css";

@import "main.css";

#block1 { padding: 2rem; min-width: 30rem;}

#block1 h1 { grid-area: header; font-size: 3rem; font-weight: bolder; margin-bottom: 1rem; }
#block1 h2 { font-size: 2.5rem; font-weight: 400; }

#block1 img { width: 20rem; border: solid .1rem; margin-bottom: 2rem;}

#block1 #content { 
    grid-area: content; 

    background-color : rgb(138, 47, 47);
    background: linear-gradient(153deg, rgb(219, 136, 136) 0%, rgb(187, 85, 71) 20%, rgb(138, 47, 47) 83%);
    max-width: 100%;
    min-height: 30rem; 
    max-height:40rem; 
    overflow-y:auto; 
    overflow-x:hidden; 
}

em { font-size: 1.1em; font-weight: bold;}

#block1 ul { font-size: 1.5rem; margin-left: 4rem; }
#block1 li { padding: .5rem;}

.blogpostContainer {
    background-color : rgb(138, 47, 47);
    color: white;

    margin: 2rem;
    padding: 1rem;

    overflow-y:auto; 
    overflow-x:hidden; 

    min-height: 0;

    border: dashed .2rem white;
}

.postBody {
    font-size: 1rem;
    padding: 1rem;

    white-space: pre-wrap;
}

.blogpostTitleContainer {
    justify-content: space-around;
    font-size: 100%;

    align-items: flex-start;
    
    padding: 1rem;

    gap: 2rem;
}
.blogTitle {
    width:100%;


    font-size: 200%;
    text-align: center;
    font-weight: bold;

    align-self: flex-start;
}
.blogUsername {
    width: 100%;
}
.blogTimestamp {
    width:100%;
    text-align: right;
}

#addpostLink {
    background: none;

    font-size: 4rem;
    font-weight: bolder;
    color: white;
    

    text-align: center;
    margin-top: 2rem;
    margin-left: 47.5%;
    margin-right: 52.5%;
}

#blogNotice {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: white;

    text-align: center;
}

@media only screen and (max-width: 645px) { body { overflow-x:auto; } }